{% extends 'base.html' %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit Tasks</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_task', task_id=task.id) }}">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" name="task_name" value="{{ task.task_name }}" id="task_name" type="text" class="validate" min-length="3" min-length="25" required>
          <label for="task_name">Task Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <button class="submit" class="btn-large light-blue darken-1">
                Edit Task
            </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}